In [5]:
import os 
import pandas as pd

df = pd.read_csv("pcq.csv", header=None)

/tmp/ipykernel_230836/1047216970.py:4: DtypeWarning: Columns (0,1,2,3,5,6,7,8,9,11,12,13,14,15,17,18,19,20,21,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,41,42,43,44,45,47,48,49,50,51,53,54,55,56,57,59,60,61,62,63,65,66,67,68,69,71,72,73,74,75,77,78,79,80,81,83,84,85,86,87,89,90,91,92,93,95) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("pcq.csv", header=None)

In [6]:
df.shape

(201572, 96)

In [8]:
smiles = df[0]
atom_list = df[1]

0         CCC(F)(CF)C(C)=O\t27776\t1
1         CC(=O)C(F)(CO)CF\t27778\t1
2         CCC(F)(CN)C(N)=N\t27781\t1
3         CCC(F)(CF)C(N)=N\t27783\t1
4         NCC(F)(CO)C(N)=N\t27785\t1
                     ...
201567                           NaN
201568                           NaN
201569                           NaN
201570                           NaN
201571                           NaN
Name: 0, Length: 201572, dtype: object

In [9]:
df[1]

0         ['C', 'C', 'C', 'F', 'C', 'F', 'C', 'C', 'O']
1         ['C', 'C', 'O', 'C', 'F', 'C', 'O', 'C', 'F']
2         ['C', 'C', 'C', 'F', 'C', 'N', 'C', 'N', 'N']
3         ['C', 'C', 'C', 'F', 'C', 'F', 'C', 'N', 'N']
4         ['N', 'C', 'C', 'F', 'C', 'O', 'C', 'N', 'N']
                              ...
201567                                              NaN
201568                                              NaN
201569                                              NaN
201570                                              NaN
201571                                              NaN
Name: 1, Length: 201572, dtype: object

In [ ]:
smiles

In [10]:
df[2]

0         [ 2.06672989 -1.25414024 -0.37301376  1.435703...
1         [-1.28478343 -1.30226184  0.98027195 -0.678505...
2         [-1.0456063   1.90614623 -0.65035743 -0.767030...
3         [-0.87898564 -1.02156207 -1.76505534 -0.955519...
4         [-1.07286461 -0.14194263  1.79258543 -0.746052...
                                ...
201567                                                  NaN
201568                                                  NaN
201569                                                  NaN
201570                                                  NaN
201571                                                  NaN
Name: 2, Length: 201572, dtype: object

In [11]:
df[3]

0         [-13978.68751016  -8801.27355181 -12599.711947...
1         [-14757.13550977  -9477.26691011 -13610.991474...
2         [-11452.62454863  -6456.25342893 -10826.848712...
3         [-13489.06168218  -8761.00121128 -12867.660530...
4         [-13446.60366035  -8565.77137441 -12595.407019...
                                ...
201567                                                  NaN
201568                                                  NaN
201569                                                  NaN
201570                                                  NaN
201571                                                  NaN
Name: 3, Length: 201572, dtype: object

In [12]:
df[4]

0         19396.476659
1         20515.028674
2         18037.957411
3         19417.347713
4         19713.130218
              ...
201567             NaN
201568             NaN
201569             NaN
201570             NaN
201571             NaN
Name: 4, Length: 201572, dtype: float64

In [13]:
df[5]

0         [  1.7   2.4   0.4  28.5   0.1   0.5   0.5   0...
1         [  2.5   3.    0.3  28.2   0.1  31.8  13.    0...
2         [  1.3   2.4   0.3  27.4   0.   23.1  33.2  22...
3         [  1.3   2.3   0.3  27.6   0.   26.7   0.6   0...
4         [  1.3   2.8   0.2  27.7   0.   23.5   0.6   0...
                                ...
201567                                                  NaN
201568                                                  NaN
201569                                                  NaN
201570                                                  NaN
201571                                                  NaN
Name: 5, Length: 201572, dtype: object

In [14]:
df[6]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
201567    NaN
201568    NaN
201569    NaN
201570    NaN
201571    NaN
Name: 6, Length: 201572, dtype: object

In [4]:
df.columns = []

,CCC(F)(CF)C(C)=O\t27776\t1,"['C', 'C', 'C', 'F', 'C', 'F', 'C', 'C', 'O']",[ 2.06672989 -1.25414024 -0.37301376 1.43570372 0.08817114 -0.56459635\n 0.2587111 0.33600632 0.34303371 0.60175585 0.27057469 1.6823027\n -0.26558717 1.73316809 0.00031496 -0.63888868 1.74464881 -1.31935035\n -0.78264876 -0.69912379 0.08819375 -2.02587659 -0.63636976 0.87906776\n -0.64989936 -1.58293527 -0.73595242],[-13978.68751016 -8801.27355181 -12599.71194773 -12002.32007358\n -12793.61974636 -12810.70659226 -12980.86088486 -13027.58397476\n -8824.48229836 -13062.6877437 -12923.86376418 -12802.91387444\n -12683.83742581 -12857.64891462 -12692.9820772 -12980.09357122\n -12868.92942175 -11058.50767869 -13034.04801094 -13053.66267366\n -13039.23651274 -13061.32584502 -13067.11889697 -13068.56383826\n -13068.70999324 -13068.75317539 -13068.77974902 -13068.78639243\n -13068.80300095 -13068.80300095],19396.47665896962,[ 1.7 2.4 0.4 28.5 0.1 0.5 0.5 0.2 3.2 0. 8.7 134.6],Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95
0,CC(=O)C(F)(CO)CF\t27778\t1,"['C', 'C', 'O', 'C', 'F', 'C', 'O', 'C', 'F']",[-1.28478343 -1.30226184 0.98027195 -0.678505...,[-14757.13550977 -9477.26691011 -13610.991474...,20515.028674,[ 2.5 3. 0.3 28.2 0.1 31.8 13. 0...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CCC(F)(CN)C(N)=N\t27781\t1,"['C', 'C', 'C', 'F', 'C', 'N', 'C', 'N', 'N']",[-1.0456063 1.90614623 -0.65035743 -0.767030...,[-11452.62454863 -6456.25342893 -10826.848712...,18037.957411,[ 1.3 2.4 0.3 27.4 0. 23.1 33.2 22...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCC(F)(CF)C(N)=N\t27783\t1,"['C', 'C', 'C', 'F', 'C', 'F', 'C', 'N', 'N']",[-0.87898564 -1.02156207 -1.76505534 -0.955519...,[-13489.06168218 -8761.00121128 -12867.660530...,19417.347713,[ 1.3 2.3 0.3 27.6 0. 26.7 0.6 0...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NCC(F)(CO)C(N)=N\t27785\t1,"['N', 'C', 'C', 'F', 'C', 'O', 'C', 'N', 'N']",[-1.07286461 -0.14194263 1.79258543 -0.746052...,[-13446.60366035 -8565.77137441 -12595.407019...,19713.130218,[ 1.3 2.8 0.2 27.7 0. 23.5 0.6 0...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NC(=N)C(F)(CO)CF\t27788\t1,"['N', 'C', 'N', 'C', 'F', 'C', 'O', 'C', 'F']",[-2.06864042 -1.07209534 -0.25814435 -1.236224...,[-15078.66982339 -9151.86281121 -13488.144891...,20464.127515,[ 1.3 2.8 0.3 27.9 0. 26.9 0.6 0...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN